.git
dist/
*.lkshf
.DS_Store
.*.lkshs
.*.lkshw
.leksah.lkshs
.leksah.lkshw
.*~
.shelly/
.cabal-sandbox/
.*.sandbox.config
data/leksah-welcome/dist/
osx/Leksah/
osx/keymap.lkshk
osx/leksah-*.dmg
osx/*.DS_Store
osx/prefs.lkshp
osx/olddmg/
vendor/haskellVCSGUIdist/
vendor/haskellVCSGUI*~
vendor/haskellVCSGUIvcsguis.lkshs
vendor/haskellVCSGUIvcsguis.lkshw
vendor/haskellVCSGUIhaskellVCSGUI.lkshs
vendor/haskellVCSGUIhaskellVCSGUI.lkshw
vendor/haskellVCSGUI/.shelly/
vendor/haskellVCSGUI/vendor/haskellVCSWrapperdist/
vendor/haskellVCSGUI/vendor/haskellVCSWrapper*~
vendor/haskellVCSGUI/vendor/haskellVCSWrappervcswrapper.lkshs
vendor/haskellVCSGUI/vendor/haskellVCSWrappervcswrapper.lkshw
vendor/haskellVCSGUI/vendor/haskellVCSWrapperhaskellVCSWrapper.lkshs
vendor/haskellVCSGUI/vendor/haskellVCSWrapperhaskellVCSWrapper.lkshw
vendor/haskellVCSWrapperdist/
vendor/haskellVCSWrapper*~
vendor/haskellVCSWrappervcswrapper.lkshs
vendor/haskellVCSWrappervcswrapper.lkshw
vendor/haskellVCSWrapperhaskellVCSWrapper.lkshs
vendor/haskellVCSWrapperhaskellVCSWrapper.lkshw
vendor/leksah-server/dist/
vendor/leksah-server/*.lkshf
vendor/leksah-server*~
vendor/leksah-server/.shelly/
vendor/leksah-server/vendor/
vendor/ltk/dist/
vendor/ltk*~
vendor/ltk/.shelly/
vendor/ltk/vendor/
vendor/yi*.hi
vendor/yi*.hi-boot
vendor/yi*.o
vendor/yi*.o-boot
vendor/yi*.dyn_hi
vendor/yi*.dyn_hi-boot
vendor/yi*.dyn_o
vendor/yi*.dyn_o-boot
vendor/yi*.o.cmd
vendor/yi*.swp
vendor/yi*.prof
vendor/yi*.hp
vendor/yi*.aux
vendor/yiYi/Lexer/*.hs
vendor/yi.yi*.dbg
vendor/yidist/
vendor/yidist_yi/
vendor/yi*~
vendor/yi.hsenv_yi
vendor/yihsenv.log
vendor/yicabal.sandbox.config
vendor/yi.cabal-sandbox
vendor/yitags
vendor/yiTAGS
win32/*.exe
win32/SourceDir/
win32/*.msi
win32/*.wixobj
win32/*.wixpdb
win32/heat.wxs
win32/heatfixed.wxs
