--Default Keymap file for Genuine Haskell Face
--Allowed Modifiers are <shift>	<ctrl> <alt> <apple> <compose>
--<ctrl> can alternatively be called <ctrl>
--Apple is the Windows key on PC keyboards
--Compose is often labelled Alt Gr.


--File
<ctrl>n                 ->          FileNew         "Opens a new empty buffer"

<ctrl>o                 ->          FileOpen        "Opens an existing file"
--<ctrl>x/<ctrl>f         ->          FileOpen        "Opens an existing file"

<ctrl>s                 ->          FileSave        "Saves the current buffer"
--<ctrl>x/<ctrl>s         ->          FileSave        "Saves the current buffer"

<ctrl><shift>s          ->          FileSaveAs      "Saves the current buffer as a new file"
--<ctrl>x/<ctrl>w         ->          FileSaveAs      "Saves the current buffer as a new file"

<ctrl>w                 ->          FileClose       "Closes the current buffer"
--<ctrl>x/k               ->          FileClose       "Closes the current buffer"

<alt>F4                 ->          Quit            "Quits this program"
--<ctrl>x/<ctrl>c         ->          Quit            "Quits this program"

--Edit
<ctrl>z                 ->          EditUndo        "Undos the last user action"
--<ctrl>x/u               ->          EditUndo        "Undos the last user action"

<shift><ctrl>y          ->          EditRedo        "Redos the last user action"
--<ctrl>x/r               ->          EditRedo        "Redos the last user action"

--Just "<ctrl>X"     ->          EditCut
--Just "<ctrl>C"     ->          EditCopy
--Just "<ctrl>V"     ->          EditPaste
                        ->          EditDelete
<ctrl>a                 ->          EditSelectAll   "Select the whole text in the current buffer"

<ctrl>f                 ->          EditFind        "Search for a text string"
F3                      ->          EditFindNext    "Find the next occurence of the text string"

<ctrl><shift>k          ->          EditFindPrevious
                                                    "Find the previous occurence of the text string"
<ctrl>r                 ->          EditReplace

<ctrl>l                 ->          EditGotoLine    "Go to line with a known index"

<ctrl><alt>Right        ->          EditComment     "Add a line style comment to the selected lies"
<ctrl><alt>Left         ->          EditUncomment   "Remove a line style comment"
<alt>Right              ->          EditShiftRight  "Shift right"
<alt>Left               ->          EditShiftLeft   "Shift Left"

--View
<ctrl><shift>Left           ->          ViewMoveLeft    "Move the current pane left"
<ctrl><shift>Right          ->          ViewMoveRight   "Move the current pane right"
<ctrl><shift>Up             ->          ViewMoveUp      "Move the current pane up"
<ctrl><shift>Down           ->          ViewMoveDown    "Move the current pane down"

<ctrl>2                 ->          ViewSplitHorizontal
                                                    "Split the current pane in horizontal direction"
<ctrl>3                 ->          ViewSplitVertical
                                                    "Split the current pane in vertical direction"
<ctrl>1                 ->          ViewCollapse    "Collapse the panes around the currentla selected pane into one"

                        ->          ViewTabsLeft    "Shows the tabs of the current notebook on the left"
                        ->          ViewTabsRight   "Shows the tabs of the current notebook on the right"
                        ->          ViewTabsUp      "Shows the tabs of the current notebook on the top"
                        ->          ViewTabsDown    "Shows the tabs of the current notebook on the bottom"
                        ->          ViewSwitchTabs  "Switches if tabs for the current notebook are visible"
                        ->          HelpDebug
                        ->          HelpAbout

<ctrl>b                 ->          BuildPackage

<ctrl><alt>r            ->          RunPackage

<ctrl>j                 ->          NextError
<ctrl><shift>j          ->          PreviousError
