-----------------------------------------------------------------------------
--
-- Module      :  @ModuleName@
-- Copyright   :  @Copyright@
-- License     :  @License@
--
-- Maintainer  :  @Maintainer@
-- Stability   :  @Stability@
-- Portability :  @Portability@
--
-- |
--
-----------------------------------------------------------------------------

module @ModuleName@ (


) where



