[Desktop Entry]
Encoding=UTF-8
Name=Leksah
GenericName=Haskell IDE
Comment=The Haskell development environment
Exec=leksah %F
Icon=leksah
Type=Application
Categories=GNOME;GTK;Development;
MimeType=text/x-haskell;text/x-literate-haskell;application/leksah-session;application/leksah-workspace
